{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenu %}

    <div class="container">

        <div class="row section-title-wrap">
            <div class="col-xs-12">
                <h3 class="section-title">{% block titre %}Artistes à découvrir{% endblock %}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="filters-nav group">
                    <li><a href="#filter" class="selected action-btn buy" data-filter="*">Tous les artistes</a></li>
                    {% for artiste in artistes %}
                        <li><a href="#filter" data-filter=".{{ artiste.NOMGENRE }}" class="action-btn buy">{{ artiste.NOMGENRE }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div>
            <ol class="listing group  filter-container">

                {% for artiste in artistes %}

                    <li class="col-xs-12 col-sm-6 col-md-4 producers {{ artiste.NOMGENRE }}">
                        <div class="list-item">
                            <a href="{{ url('artiste_profil', {'artiste': artiste.ALIASARTISTE}) }}"><img src="{{ asset('assets/images/artistes/'~artiste.IMAGEARTISTE) }}" alt="{{ artiste.PSEUDOARTISTE }}"></a>
                            <div class="list-item-info">
                                <h2 class="list-item-head"> {{ artiste.PSEUDOARTISTE }} </h2> <!-- définit dans IndexController, table wiew_artistes -->
                                <p class="list-item-actions">
                                    <a href="{{ url('artiste_profil', {'artiste': artiste.ALIASARTISTE}) }}" class="action-btn buy">Voir son profil</a>
                                </p>
                            </div>
                        </div>
                    </li>

                {% endfor %}

            </ol>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}