{% extends 'layout.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
{% endblock %}

{% block titre %}
    Mon Profil :
{% endblock %}

{% block contenu %}

        <div class="container">
            <div class="row section-title-wrap "><div class="col-xs-12"><h3 class="section-title">{{ artiste.PSEUDOARTISTE }}</h3></div></div>
            <div class="row">
                <article class="album group post-121 cpt_artists type-cpt_artists status-publish has-post-thumbnail hentry artist-category-producers">

                    <div class="col-sm-4">
                        <!-- IMAGE -->
                        <a href="{{ asset('assets/images/artistes/'~artiste.IMAGEARTISTE) }}" alt="{{ artiste.PSEUDOARTISTE }}" class="overlay-link ci-lightbox">
                            <img src="{{ asset('assets/images/artistes/'~artiste.IMAGEARTISTE) }}" alt="{{ artiste.PSEUDOARTISTE }}" alt="{{ artiste.PSEUDOARTISTE }}" />
                        </a>

                        <!-- DESSOUS IMAGE SIDEBAR -->
                        <div id="single-sidebar" class="sidebar">
                            <div id="ci_events_widget-5" class="widget_ci_events_widget widget group ms-reseauxsociaux">
                                <h3 class="widget-title">Ses réseaux</h3>
                                <ul class="list-inline">
                                    {% if artiste.SITEINTERNETARTISTE is not empty %}
                                        <li><a target="_blank" href="{{ artiste.SITEINTERNETARTISTE }}"><i class="fa fa-laptop fa-3x" aria-hidden="true"></i></a></li>
                                    {% endif %}

                                    {% if artiste.FACEBOOKARTISTE is not empty %}
                                        <li><a target="_blank" href="{{ artiste.FACEBOOKARTISTE }}"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                                    {% endif %}

                                    {% if artiste.TWITTERARTISTE is not empty %}
                                        <li><a target="_blank" href="{{ artiste.TWITTERARTISTE }}"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
                                    {% endif %}

                                    {% if artiste.SOUNDCLOUDARTISTE is not empty %}
                                        <li><a target="_blank" href="{{ artiste.SOUNDCLOUDARTISTE }}"><i class="fa fa-soundcloud fa-3x" aria-hidden="true"></i></a></li>
                                    {% endif %}

                                    {% if artiste.YOUTUBEARTISTE is not empty %}
                                        <li><a target="_blank" href="{{ artiste.YOUTUBEARTISTE }}"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a></li>
                                    {% endif %}

                                    {% if artiste.INSTAGRAMARTISTE is not empty %}
                                        <li><a target="_blank" href="{{ artiste.INSTAGRAMARTISTE }}"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div id="ci_events_widget-5" class="widget_ci_events_widget widget group ms-reseauxsociaux">
                                <h3 class="widget-title">Clip à découvrir</h3>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/-XgOxoxw9JA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8 content group">
                        <h1 class="entry-title">{{ artiste.PSEUDOARTISTE }}</h1>
                        <p class="entry-terms">
                            <a href="javascript:void(0)">{{ genre.NOMGENRE }}</a>
                        </p>

                        <p>
                            {{ artiste.DESCARTISTE }}
                        </p>

                        <h2>Biographie</h2>
                        <div class="ms-bioartiste">
                            {{ artiste.BIOARTISTE | raw }}
                        </div>

                        <div class="clear"></div>

                        <h3>Quelques morceaux</h3>

                        <ol class="tracklisting">
                            <li id="custom_player65_1" class="track group custom_player65_1">
                                <span class="track-no">1</span>
                                <p class="track-info">
                                    <span class="sub-head">Nobody Move</span>
                                    <span class="main-head">Optional subtitle. Radio edit</span>
                                </p>
                                <div class="btns"></div>
                                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track01.mp3"><i class="fa fa-play"></i></a>
                            </li>
                            <li id="custom_player65_2" class="track group custom_player65_2">
                                <span class="track-no">2</span>
                                <p class="track-info">
                                    <span class="sub-head">Return Spooky</span>
                                    <span class="main-head">Optional subtitle. Club mix</span>
                                </p>
                                <div class="btns">
                                    <a href="/vip/muzak5/artists/amy-f/?force_download=https://www.cssigniter.com/assets/audio/track02.mp3" class="action-btn buy download-track inline-exclude">Download track</a>
                                    <a href="#ReturnSpooky-lyrics-2" title="Return Spooky Lyrics" data-mfp-src="#ReturnSpooky-lyrics-2" class="action-btn buy ci-lightbox mfp-inline">Lyrics</a>
                                    <div id="ReturnSpooky-lyrics-2" class="track-lyrics-hold mfp-hide">
                                        <p>
                                            <strong>Return Spooky&ndash;Optional subtitle. Club mix </strong>
                                        </p>
                                        <p>
                                            Woke up this morning with a head full of snow
                                            <br />
                                            Was it a dream?
                                            <br />
                                            Picked up me body for the ride of a lifetime is what it seemed
                                            <br />
                                            Hope got me started
                                            <br />
                                            Put you to the centre, so it seemed
                                            <br />
                                            Don't you hurry 'cause you'll reach your goals
                                            <br />
                                            Is what it reads
                                        </p>
                                        <p>
                                            Got caught in the rain and it washed all my senses
                                            <br />
                                            Down the drain
                                            <br />
                                            Drop me a line when you're given the time
                                            <br />
                                            And we'll talk some more
                                            <br />
                                            Woke up this morning with a head full of snow
                                            <br />
                                            Was it a dream? Don't you worry
                                            <br />
                                            'Cause you'll reach your goals is what it reads
                                        </p>
                                    </div>
                                </div>
                                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track02.mp3"><i class="fa fa-play"></i></a>
                            </li>
                            <li id="custom_player65_3" class="track group custom_player65_3">
                                <span class="track-no">3</span>
                                <p class="track-info">
                                    <span class="sub-head">On the downbeat</span>
                                </p>
                                <div class="btns">
                                    <a href="https://www.cssigniter.com/vip/muzak5/product/nobody-move-radio-edit/" class="action-btn buy buy-track">Buy track</a>
                                    <a href="#Onthedownbeat-lyrics-3" title="On the downbeat Lyrics" data-mfp-src="#Onthedownbeat-lyrics-3" class="action-btn buy ci-lightbox mfp-inline">Lyrics</a>
                                    <div id="Onthedownbeat-lyrics-3" class="track-lyrics-hold mfp-hide">
                                        <p>
                                            <strong>On the downbeat </strong>
                                        </p>
                                        <p>
                                            Some folks like to get away,
                                            <br />
                                            Take a holiday from the neighborhood
                                            <br />
                                            Hop a flight to Miami Beach or to Hollywood
                                            <br />
                                            But I'm takin' a Greyhound on the Hudson River line
                                            <br />
                                            I'm in a New York state of mind
                                        </p>
                                        <p>
                                            I've seen all the movie stars in their fancy cars and their limousines
                                            <br />
                                            Been high in the Rockys under the evergreens
                                            <br />
                                            I know what I'm needin', and I don't want to waste more time
                                            <br />
                                            I'm in a New York state of mind
                                        </p>
                                        <p>
                                            It was so easy livin' day by day
                                            <br />
                                            Out of touch with the rhythym and blues
                                            <br />
                                            But now I need a little give and take
                                            <br />
                                            The New York Times, the Daily News
                                        </p>
                                    </div>
                                </div>
                                <a class="sm2_button" href="https://www.cssigniter.com/assets/audio/track03.mp3"><i class="fa fa-play"></i></a>
                            </li>
                        </ol>

                    </div>
                </article>
            </div>
        </div>

{% endblock %}

{% block pagesidebar %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://fastcdn.org/Readmore.js/2.1.0/readmore.min.js"></script>
    <script>
        $('.ms-bioartiste').readmore({
            speed: 75,
            moreLink: '<a class="action-btn" href="javascript:void(0);">Lire la suite</a>',
            lessLink: '<a class="action-btn" href="javascript:void(0);">Réduire</a>'
        });
    </script>
{% endblock %}
